body {
	font-family: 'Lato', sans-serif;
}

.lab {
	background-color: #51FFD0;
	color: #000000;
	margin: 20px;
	padding-bottom: 30px;
	display: block;
	box-sizing: border-box;
}

.es {
	background-color: #F5F214;
	color: #000000;
	margin: 20px;
	padding-bottom: 30px;
	display: block;
	box-sizing: border-box;
}

.trans {
	background-color: #51FFD0;
	color: #000000;
	margin: 20px;
	padding-bottom: 30px;
	display: block;
	box-sizing: border-box;
}
